<div class="panel panel-primary">
  <div class="panel-heading">
    Cart
  </div>
  <div class="panel-body">
    <ng-container *ngIf="isSomethingInCart; else no_items">
    <button class="btn btn-warning btn-sm" (click)="onRemoveAll()">Clear</button>
    <select [(ngModel)]="sortField" name="sortField">
    <option value="product.name">Sort by product name</option>
    <option value="quantity">Sort by quantity</option>
    <option value="product.price">Sort by product price</option>
  </select>
  <label for="sortOrder">Sort ascending: </label>
  <input type="checkbox" [(ngModel)]="sortAsc" name="sortOrder" id="sortOrder">
    <div>
      <div *ngFor="let item of (cartItems | orderBy:sortField:sortAsc)">
        <app-cart-item [item]="item" (itemDeleted)="onRemoveFromCart(item)" (itemCountChanged)="onItemCountChanged($event)"></app-cart-item>
      </div>
    </div>
    <div>
      Total items in cart: {{totalItems}}
    </div>
    <div>
      Sum to pay: {{totalSum | currency:USD:symbol}}
    </div>
      </ng-container>
      <ng-template #no_items>No items.</ng-template>
  </div>
</div>
