:host.active {
    background-color: lightgray;
}

span {
    min-width: 10rem;
    display: inline-block;
}

input[type='number'] {
    width: 7rem;
}

:host {
    display: grid;
    grid-template-columns: auto 10% 15%;
    grid-template-rows: auto;
}

.grid-item {
    align-self: center;
}