<div class="panel panel-primary">
  <div class="panel-heading">
      Products
  </div>
  <div class="panel-body">
    <button class="btn btn-default" (click)="onReloadData()">Reload data</button>
    <div class="product-list">
      <ul class="nav nav-pills nav-stacked">
        <li *ngFor="let product of products$ | async" [class.active]="product.id === selectedId">
          <a class="product-name" [routerLink]="['/product', product.id]">{{product.name}}
            <span *ngIf="product.isAvailable;else elseBlock" class="label label-success">in store</span>
          <ng-template #elseBlock><span class="label label-danger"> sold out</span></ng-template>
          </a>
          <button class="btn-buy btn btn-default btn-sm" [ngClass]="{'sold-out': !product.isAvailable}" [disabled]="!product.isAvailable" (click)="onBuy(product)">Buy {{product.name}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>