<div class="panel panel-primary">
  <div class="panel-heading">
      Products
  </div>
  <div class="panel-body">
    <div class="product-list">
      <!-- <div *ngFor="let product of products">
        <app-product [product]="product"></app-product>
        <button class="btn btn-primary" [ngClass]="{'sold-out': !product.isAvailable}" [disabled]="!product.isAvailable" (click)="onBuy(product)">Buy {{product.name}}</button>
      </div> -->
      <ul *ngFor="let product of products">
        <li><a [routerLink]="['/product', product.id]" routerLinkActive="active">Products</a><button class="btn btn-primary" [ngClass]="{'sold-out': !product.isAvailable}" [disabled]="!product.isAvailable" (click)="onBuy(product)">Buy {{product.name}}</button></li>
      </ul>
    </div>
  </div>
</div>