
<div class="container">
    <div class="row"><div class="col-md-12">
        <div class="updated-date">{{pageUpdatedDate | date:'medium':'UTC+2'}}</div>
    </div></div>
    <div class="row"><div class="col-md-12">
        <h2 appChangeColor="lightsalmon">Welcome<ng-container *ngIf="appTitle"> to {{appTitle}}</ng-container>
        </h2>
    </div></div>
    <div class="row"><div class="col-md-12">
        <div *ngIf="login">User: {{login}}({{email}})</div>
    </div></div>
    <div class="row"><div class="col-md-12">
        <div>
            <button class="btn btn-default" (click)="onGenerateNewString()">Generate random string with 10-char length </button>
            Generated string: {{currentRandomString}}
        </div>
    </div></div>
    <div class="row"><div class="col-md-12">
        <nav>
            <a class="btn btn-default" [routerLink]="['/products']" routerLinkActive="active">Products</a>
            <a class="btn btn-default" [routerLink]="['/cart']" routerLinkActive="active">Cart <span class="badge">{{totalCartItems}}</span></a>
            <a class="btn btn-default" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
            <a class="btn btn-default" [routerLink]="['/login']" routerLinkActive="active">login</a>
            <a class="btn btn-default" [routerLink]="[{outlets:{notifications:['cart']}}]" routerLinkActive="active" (click)="notificationsClicked()">Notifications</a>
        </nav>
    </div></div>
    <div class="row"><div class="col-md-12">
        <router-outlet name="notifications" #notifications_outlet="outlet"></router-outlet>
    </div></div>
    <div class="row"><div class="col-md-12">
        <router-outlet></router-outlet>
    </div></div>
</div>

