<div class="product">
  <div><span>Product name:</span> <span>{{name}}</span></div>
  <div><span>Category:</span> <span>{{category}}</span></div>
  <div><span>Price:</span> <span>{{price}}</span></div>
  <div *ngIf="isAvailable;else elseBlock">in store</div>
  <ng-template #elseBlock>sold out</ng-template>

  <div><span>Description:</span> <span>{{description}}</span></div>
  <div><span>Product name:</span> <span>{{name}}</span></div>
  <div>
    Ingredients:
    <ul>
      <li *ngFor="let ingredient of ingredients">{{ingredient}}</li>
    </ul>
  </div>

  <div>
    Equivalent products: <span class="equivalentProduct" *ngFor="let eqName of equivalents">{{eqName}}</span>
  </div>

</div>
