<div class="product" appChangeColor="lightsalmon">
  <div><span>Product name:</span> <span>{{name}}</span></div>
  <div><span>Category:</span> <span>{{category}}</span></div>
  <div>
    <span>Price:</span> <span>{{price}}</span>
    <span *ngIf="isAvailable;else elseBlock" class="available status">in store</span>
    <ng-template #elseBlock><span class="soldout status"> sold out</span></ng-template>

  </div>
  <div><span>Description:</span> <span>{{description}}</span></div>
  <div>
    Ingredients:
    <ul>
      <li *ngFor="let ingredient of ingredients">{{ingredient}}</li>
    </ul>
  </div>

  <div>
    Equivalent products: <span class="equivalentProduct" *ngFor="let eqName of equivalents">{{eqName}}</span>
  </div>

</div>
