<div class="panel panel-primary">
    <div class="panel-heading">
        Products
    </div>
    <div class="panel-body">
      <div class="product" *ngIf="product$ | async as product" appChangeColor="lightsalmon">
  <div>
          <span>Product name:</span>
          <span>{{product.name}}</span>
          <span *ngIf="product.isAvailable;else elseBlock" class="label label-success">in store</span>
          <ng-template #elseBlock><span class="label label-danger"> sold out</span></ng-template>
        </div>
        <div><span>Category:</span> <span>{{category | async | uppercase}}</span></div>
        <div>
          <span>Price:</span> <span>{{product.price}}</span>
        </div>
        <div><span>Description:</span> <span>{{product.description}}</span></div>
        <div>
          Ingredients:
          <ul>
            <li *ngFor="let ingredient of product.ingredients">{{ingredient}}</li>
          </ul>
        </div>

        <div>
          Equivalent products: <span class="equivalentProduct" *ngFor="let eqName of product.equivalents">{{eqName}}</span>
        </div>

        <p>
            <button class="btn btn-default" (click)="gotoProducts(product)">Back</button>
          </p>
     </div>
  </div>
</div>